<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"> 
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Night Hawk results</title>

<link href="{{base}}/../css/bootstrap.min.css" rel="stylesheet">
<link href="{{base}}/local.css" rel="stylesheet">
<link rel="shortcut icon" href="{{base}}/images/favicon.ico">   

</head>
<body>

<div class="container"><h1 class="page-header"><a href="//nighthawk.no/"><img src="{{base}}/images/nh-50x50.png"></a><a href="{{base}}/{{raceId}}">Night Hawk Holmenkollen 2014</a></h1></div>

