{{> header }}


<div class="container">
{{>complete_menu}}
</div>

<div class="container">
<div class="text-right">
<img height="25" src="http://tyrving.idrett.no/10/wp-content/themes/tyrving-o/images/hennings/tyrving-header-403x100.png"/>
</div>
</div>

{{> footer }}
